.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Larger min width for bigger images */
    gap: 25px; /* Increase gap for larger images */
    margin: 20px auto;
    max-width: 100%;
    padding: 0 20px; /* Add padding around the grid */
}

.photo-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Square aspect ratio */
    overflow: hidden;
    border-radius: 12px; /* Slightly larger rounding for bigger images */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow for larger images */
}

.photo-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Overlay */
.photo-item::after {
    content: ""; /* Empty content for overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Half-transparent gray */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
    border-radius: 12px;
}

.photo-item:hover::after {
    opacity: 1; /* Show overlay on hover */
}

/* Text on hover */
.photo-item .photo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 94%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
    z-index: 2; /* Ensure text is above the overlay */
}

.photo-item .title {
    font-size: 26px; /* Adjust font size as needed */
    font-weight: bold;
    color: white;
}

.photo-item .price {
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.photo-item .resolutions {
    font-size: 13px; /* Adjust font size as needed */
    font-weight: bold;
    color: white;

}

.photo-item:hover .photo-text {
    opacity: 1; /* Show text on hover */
}

