.header {
  width: 100%;
  height: 120px;
  padding: 0.2rem;
  background-color: rgb(242, 141, 77);
  box-shadow: 0 2px 4px #00000026;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center all content horizontally */
  align-items: center; /* Vertically center content */
}

.header-content {
  display: flex;
  justify-content: space-between; /* Space left and right icon containers */
  align-items: center;
  width: 100%; /* Ensure it spans the full width of the header */
  /*max-width: 1200px; /* Optional: To limit the header width */
  padding: 0 40px; /* Optional: For padding on left and right */
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 30px; /* Add space between icons */
}

.header-icon {
  cursor: pointer;
  color: white; /* Default color */
}

.header-icon:hover,
.header-icon:active {
  color: #854219 !important;  /* Color change on hover for better visual feedback */
}

.logo {
  height: 100px;
  cursor: pointer;
  position: absolute; /* This helps to center it absolutely in the header */
  left: 50%; /* Move the left side of the logo to the center */
  transform: translateX(-50%); /* Offset the logo by half its width to fully center it */
}
.login-button-header {
  border: none;
  color: rgb(242, 141, 77);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 20px;
  background-color: white;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
}

.header-dropdown-container {
  position: relative;
  margin-left: 50px;
}

.header-dropdown-menu {
  position: absolute;
  top: 75px;
  right: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 150px;
  z-index: 1000;
}

.header-dropdown-item {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
}
.header-dropdown-item:last-child {
  border-bottom: 0px solid rgb(242, 141, 77);
}
.header-dropdown-item:hover {
  background-color: #f5f5f5;
}

.header-profile-picture2 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}

.header-profile-picture2 img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
